.usersInfo {
  display: grid;
  grid-template-columns: 20% 80%;
}

.usersInfo img {
  width: 50px;
  border-radius: 60px;
  padding: 50px;
}

.userPhoto {
  height: 100px;
}

.pageNumbers :hover {
  cursor: pointer;
}

.selectedPage {
  font-weight: bold;
  color: darkblue;
  text-decoration-line: underline;
}
