.navi {
  grid-area: n;
  background-color: blue;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.item a.activeLink {
  color: gold;
}

.namesList {
  font-size: 20px;
}

.bar {
  padding: 50px;
  margin: auto;
}
