.dialogs {
  display: grid;
  grid-template-columns: 50% 50%;
}



.dialogsItems {
  padding: 10px;
  animation: cubic-bezier(0.075, 0.82, 0.165, 1)
}

.dialogsItems .active {
  color: red;
}

.messages {
  padding: 10px;
}


